<header>
  <mat-toolbar color="primary">
    <span>Cadastro de Cliente</span>
    
    <nav role="navigation" aria-label="Navegação principal" class="ml-auto flex items-center gap-2">
      <a routerLink="/cadastro" mat-button>
        <mat-icon fontIcon="feed"></mat-icon>
        Formulário
      </a>
      <a routerLink="/consulta" mat-button>
        <mat-icon fontIcon="search"></mat-icon>
        Consulta
      </a>
    </nav>
  </mat-toolbar>
</header>

<main role="main">

  <router-outlet />
</main>